@model  int
@{
    ViewData["Title"] = "Home Page";
}

<div class="row center-block">
    <div class="col-md-12 center-block">
        <h1>
            @Model
            till things go wrong ....
        </h1>

        <p>
            Keep refershing the page to see what happens
        </p>

        <p>
            Dare ya ....
        </p>
    </div>
</div>